<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--XML elements in this file are read in order from top to bottom of the XML document-->

    <!--Set filters to cross-domain and set char to utf-8-->
    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.filter.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <servlet-name>*</servlet-name>
    </filter-mapping>
    <filter>
        <filter-name>CrossFilter</filter-name>
        <filter-class>com.filter.CrossFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CrossFilter</filter-name>
        <servlet-name>*</servlet-name>
    </filter-mapping>

    <!--Set servlets' mapping-->
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.servlet.Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Video</servlet-name>
        <servlet-class>com.servlet.Video</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Video</servlet-name>
        <url-pattern>/video</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Music</servlet-name>
        <servlet-class>com.servlet.Music</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Music</servlet-name>
        <url-pattern>/music</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>com.servlet.Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Photo</servlet-name>
        <servlet-class>com.servlet.Photo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Photo</servlet-name>
        <url-pattern>/photo</url-pattern>
    </servlet-mapping>
</web-app>